In [1]:
# Initial imports.
import pandas as pd
from path import Path
from sklearn.ensemble import RandomForestClassifier
from sklearn.preprocessing import StandardScaler
from sklearn.model_selection import train_test_split
from sklearn.metrics import confusion_matrix, accuracy_score, classification_report

In [2]:
# Loading data
file_path = Path("./Resources/loans_data_encoded.csv")
df_loans = pd.read_csv(file_path)
df_loans.head()

,amount,term,age,bad,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college,gender_female,gender_male
0,1000,30,45,0,6,0,1,0,0,0,1
1,1000,30,50,0,7,1,0,0,0,1,0
2,1000,30,33,0,8,1,0,0,0,1,0
3,1000,15,27,0,9,0,0,0,1,0,1
4,1000,30,28,0,10,0,0,0,1,1,0

In [25]:
# Define the features set.
X = df_loans.copy()
X = X.drop(["bad", "gender_female", "gender_male"], axis=1)
X.head()

,amount,term,age,month_num,education_Bachelor,education_High School or Below,education_Master or Above,education_college
0,1000,30,45,6,0,1,0,0
1,1000,30,50,7,1,0,0,0
2,1000,30,33,8,1,0,0,0
3,1000,15,27,9,0,0,0,1
4,1000,30,28,10,0,0,0,1

In [26]:
# Define the target set.
y = df_loans["bad"].ravel()
y[:5]

array([0, 0, 0, 0, 0], dtype=int64)

In [27]:
# Splitting into Train and Test sets.
X_train, X_test, y_train, y_test = train_test_split(X, y, random_state=78)

In [28]:
# Creating a StandardScaler instance.
scaler = StandardScaler()
# Fitting the Standard Scaler with the training data.
X_scaler = scaler.fit(X_train)

# Scaling the data.
X_train_scaled = X_scaler.transform(X_train)
X_test_scaled = X_scaler.transform(X_test)

In [29]:
# Create a random forest classifier.
rf_model = RandomForestClassifier(n_estimators=500, random_state=78)

In [30]:
# Fitting the model
rf_model = rf_model.fit(X_train_scaled, y_train)

In [31]:
# Making predictions using the testing data.
predictions = rf_model.predict(X_test_scaled)

In [32]:
# Calculating the confusion matrix.
cm = confusion_matrix(y_test, predictions)

# Create a DataFrame from the confusion matrix.
cm_df = pd.DataFrame(
    cm, index=["Actual 0", "Actual 1"], columns=["Predicted 0", "Predicted 1"])

cm_df
# 0 = approved, 1 = denied

          Predicted 0  Predicted 1
Actual 0           54           30
Actual 1           26           15

In [33]:
# Calculating the accuracy score.
acc_score = accuracy_score(y_test, predictions)

In [34]:
# Displaying results
print("Confusion Matrix")
display(cm_df)
print(f"Accuracy Score : {acc_score}")
print("Classification Report")
print(classification_report(y_test, predictions))

Confusion Matrix

          Predicted 0  Predicted 1
Actual 0           54           30
Actual 1           26           15

Accuracy Score : 0.552
Classification Report
              precision    recall  f1-score   support

           0       0.68      0.64      0.66        84
           1       0.33      0.37      0.35        41

    accuracy                           0.55       125
   macro avg       0.50      0.50      0.50       125
weighted avg       0.56      0.55      0.56       125

In [35]:
# Calculate feature importance in the Random Forest model.
importances = rf_model.feature_importances_
importances

array([0.05446627, 0.0830374 , 0.49170228, 0.31730637, 0.01659394,
       0.01700045, 0.00322487, 0.01666841])

In [36]:
# We can sort the features by their importance.
sorted(zip(rf_model.feature_importances_, X.columns), reverse=True)

[(0.4917022849543478, 'age'),
 (0.31730637064517403, 'month_num'),
 (0.08303739718250097, 'term'),
 (0.054466271077120494, 'amount'),
 (0.017000451821704066, 'education_High School or Below'),
 (0.01666841178404515, 'education_college'),
 (0.016593940752497937, 'education_Bachelor'),
 (0.003224871782609585, 'education_Master or Above')]